<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="200" height="200"></a>

<!-- <h4>{{ site.owner.name }}</h4> -->

<p style="font-family: quicksand;text-align: center;font-size: 12pt">{{ site.owner.bio }}</p>
<!-- {% if site.owner.email %}<p style="text-indent:0;margin-top:1.5em;"><a href="mailto:{{ site.owner.email }}" target="_blank"><i class="icon-mail"></i> Email</a></p>{% endif %} -->

<!-- {% if site.owner.linkedin %}<p style="text-indent:0;"><a href="https://linkedin.com/in/{{ site.owner.linkedin }}"><i class="icon-linkedin"></i> </a></p>{% endif %} -->

<!-- {% if site.owner.github %}<p style="text-indent:0;"><a href="https://github.com/{{ site.owner.github }}"><i class="icon-github"></i> </a></p>{% endif %} -->

<!-- {% if site.owner.scholar%}<p style="text-indent:0;"><a href="{{ site.owner.scholar}}"><i class="ai ai-google-scholar-square"></i> </a></p>{% endif %} -->

<!-- {% if site.owner.orcid %}<p style="text-indent:0;"><a href="https://orcid.org/{{ site.owner.orcid }}"><i class="ai ai-orcid-square"></i> </a></p>{% endif %} -->
<!-- {% if site.owner.Bilibili %}<p style="text-indent:0;"><a href="https://bilibili.com/{{ site.owner.bilibili }}"><i class="icon-bilibili"></i> Bilibili</a></p>{% endif %} -->
<!-- <p style="text-align: center"> -->
<div class="icon-container">
    <a href="mailto:{{ site.owner.email }}" target="_blank"><i class="icon-mail"></i></a> 

    <a href="https://linkedin.com/in/{{ site.owner.linkedin }}"><i class="icon-linkedin"></i></a> 

    <a href="https://github.com/{{ site.owner.github }}"><i class="icon-github"></i></a> 

    <a href="{{ site.owner.scholar}}"><i class="ai ai-google-scholar-square"></i></a> 

    <a href="https://orcid.org/{{ site.owner.orcid }}"><i class="ai ai-orcid-square"></i></a> 
</div>
<!-- </p> -->
<!-- Lastly modified by Xuankai Wang in 2023/03/30 -->