
<!-- <p style="text-align:center"></p>
<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }} bio photo" width="100" height="100" display="block" margin="auto">
</p> -->
<!-- <h4>{{ site.owner.name }}</h4> -->

<!-- <p style="font-family: quicksand;text-align: center;font-size: 12pt">{{ site.owner.bio }}</p> -->

<img src="{{ site.url }}/images/spamela.jpg" class="bio-photo" alt="{{ site.owner.name }} bio photo" ></a>

<p style="font-family: quicksand;text-align: center;font-size: 12pt;padding: 0px 20px 0px 20px;">{{ site.owner.bio }}</p>
<p style="text-indent:0;padding: 0px 20px 0px 20px;"><a href="mailto:{{ site.owner.email }}" target="_blank"><i class="icon-mail"></i> E-mail</a></p>

<p style="text-indent:0;padding: 0px 20px 0px 20px;"><a href="https://linkedin.com/in/{{ site.owner.linkedin }}"><i class="icon-linkedin"></i> LinkedIn</a></p>

<p style="text-indent:0;padding: 0px 20px 0px 20px;"><a href="{{ site.owner.scholar}}"><i class="ai ai-google-scholar-square"></i> Google Scholar</a> </p>

<p style="text-indent:0;padding: 0px 20px 0px 20px;"><a href="https://orcid.org/{{ site.owner.orcid }}"><i class="ai ai-orcid-square"></i> ORCID</a> </p>

<p style="text-indent:0;padding: 0px 20px 0px 20px;"><a href="https://github.com/{{ site.owner.github }}"><i class="icon-github" id="github-icon"></i> Github</a> </p>


<!-- <div class="icon-container">
    <a href="mailto:{{ site.owner.email }}" target="_blank"><i class="icon-mail"></i></a> 

    <a href="https://linkedin.com/in/{{ site.owner.linkedin }}"><i class="icon-linkedin"></i></a> 

    <a href="https://github.com/{{ site.owner.github }}"><i class="icon-github"></i></a> 

    <a href="{{ site.owner.scholar}}"><i class="ai ai-google-scholar-square"></i></a> 

    <a href="https://orcid.org/{{ site.owner.orcid }}"><i class="ai ai-orcid-square"></i></a> 
</div> -->

<!-- Lastly modified by Xuankai Wang in 2023/03/30 -->