$font-main: Avenir;
$font-bold: 800;
$dark-grey: #343434;
$light-grey: #E3E3E5;
$sta-primary-dark: rgb(11, 10, 60);
$sta-primary-light: grey;

body {
  font-family: $font-main;
}

title {
  font-family: $font-main;
  font-weight: $font-bold;
  color: $sta-primary-dark;
  font-size: medium;
}

ul {
  font-family: $font-main;
  font-size: larger;
}

/* top level font and styling*/
h1 {
    font-family: $font-main;
    font-weight: $font-bold;
    color: $sta-primary-dark;
    font-size: medium;
  }
h2 {
  font-family: $font-main;
  color: $sta-primary-dark;
  font-size: small;
}

h3 {
  font-family: $font-main;
  font-weight: normal;
  color: $sta-primary-dark;
  font-size: small;
}

h4 {
  font-family: $font-main;
  font-weight: normal;
  color: $sta-primary-dark;
}

h5 {
  font-family: $font-main;
  font-weight: normal;
  color: $sta-primary-dark;
}

h6 {
  font-family: $font-main;
  font-weight: normal;
  color: $sta-primary-dark;
}